body div a {
	cursor:pointer;
	}
	.success-ajax{
		display: inline-block;
		float: right;
		margin-top: 6px;
		margin-right: 5px;
		font-weight: bolder;
	
	}
	.retry-ajax{
		display: inline-block;
		background-color: #CCF;
		cursor: pointer;
		float: right;
		margin-right: 12px;
		margin-left: 4px;
		margin-top: 5px;
	}
	.close-button{
		background-color: gray;
		margin-top: 28px;
		border-radius: 25px;
		text-align: center;
		color: #fff;
		cursor: pointer;
	}
	.abort-ajax{
		display: inline-block;
		float: right;
		background-color: #ccc;
		/* vertical-align: middle; */
		margin-top: 6px;
		position: relative;
		cursor: pointer;
		margin-right: 4px;
	
	}
	.stat-report span{
		font-size:10px;
	}
	.stat-report{
		width:100%;
		height:31px;
		border:1px solid #ccc;
	}
	.bin{
		width:200px;
		height:200px;
		background-color:blue;
	}
	.progress-wrapper{
		margin-top: 20px;
	}
	.cancelled-class .progress-bar{
		background-color:#F7E2DD;
	}
	.error-class .progress-bar{
		background-color:#FF6666;
	} 
	.progress-bar{
		background-color:#7cbf45;
		width: 0%;
		min-height:30px;
		margin-top:0px;
	}
	.label-file-dropper{
		height: 155px;
		display: table;
		width: 100%;
	}
	.label-file-dropper span{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.file-dropper{
		min-height: 155px;
		background-color: #e6e6e6;
	}
	.file-holder{
		padding: 50px 15px;
	}
	.file-input-drop{
		position: absolute;
		height: 155px;
		width: 99%;
		opacity: 0;
	}
	.mytest{
		background-color:red;
	}
	.file-upload-content{
		display:none;
		z-index: 1174;
		position: relative;
		background-color: #fff;
		width: 62%;
		margin: auto;
		border-radius: 7px;
		text-align:left;
	}
		div .file-upload-content.in ,div .overlay.in{
			display:inline-block;
		}
		.overlay{
			background-color:#000;
			display:none;
			z-index: 1050;
			overflow: auto;
			overflow-y: scroll;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1050;
			-webkit-overflow-scrolling: touch;
			outline: 0;
			opacity:0.6
		}
		.header-padding{
			padding-top: 25px;
			padding-bottom: 20px;
		}
		.no-margin{
			margin:0px !important
		}
		.header-border{
			border-bottom:1px solid #D6D6D6;
		}
		.header-sec{
			padding: 20px 9px 19px 30px;
			font-size: 16px;
			
		}
		.file-upload-wrapper{
			width:100%;
			display:inline-block;
			text-align:center;
		}
		.file-upload-label{
			text-align:left;
		}